{% extends "base.html" %}

{% block content_title %}
  <!-- h3>Bienvenue sur le site de campagne de Cause commune</h3-->
{% endblock %}

{% block content %}

  

  {% for article in articles_page.object_list %}

    {% if (article.category != "Nos Propositions") %}
    
      {% if loop.index % 3 == 0 %}
      <div class="row">
      {% endif %}

        <div class="col-md-4 articles">
          <article>
            <header>
              {% if article.content or article.photo_full %}
                <a href="{{ SITEURL }}/{{ article.url }}">
              {% elif article.ext_url %}
                <a href="{{ article.ext_url }}">
              {% endif %}
              <img src="{{ SITEURL }}/images/{{ article.photo }}" />
              {% if article.content or  article.ext_url or article.photo_full %}
                </a>
              {% endif %}
              <h2>            
                {% if article.content or article.photo_full %}
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">
                {% endif %}
                {% if article.ext_url %}
                  <a href="{{ article.ext_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">
                {% endif %}
                
                {{ article.title }}
                
                {% if article.content or  article.ext_url or article.photo_full %}
                  </a>
                {% endif %}
              </h2>
            </header>
            <!-- div class="date">{{ article.date.strftime('%d/%m/%Y') }}</div -->
            <div>{{ article.summary }}</div>
            <div>
            {% if article.content and article.category != "Dans la presse" %}
              <a class="btn btn-primary" href="{{ SITEURL }}/{{ article.url }}"><strong>➟ Lire</strong></a>        
            {% endif %}
            {% if article.photo_full and article.category != "Dans la presse" %}
              <a class="btn btn-primary" href="{{ SITEURL }}/{{ article.photo_full }}"><strong>➟ Lire</strong></a>        
            {% endif %}
            {% if article.ext_url and article.category != "Dans la presse" %}
              <a class="btn btn-primary" href="{{ article.ext_url }}"><strong>➟ Lire</strong></a>        
            {% endif %}
            </div>
          </article>
        </div>

      {% if loop.index % 3 == 0 %}
      </div>
      {% endif %}
  
    {% else %}
      
      <div class="row proposition">
        <div class="col-md-4 proposition-image">
            <img src="{{ SITEURL }}/images/{{ article.photo }}" />
        </div>
        <div class="col-md-8 proposition-details">
            {{ article.content }}
        </div>
      </div>

    {% endif %}

  {% endfor %}

  {% if (category != "Nos Propositions") %}
    
    {% include 'pagination.html' %}

  {% endif %}

{% endblock content %}